_svn/
.svn/
obj/
[Bb]in/
[Dd]ebug/   
[Rr]elease/   
_Re[Ss]harper.*
*.[Rr]e[Ss]harper
*.[Rr]e[Ss]harper.user
*.suo
*.cache
*~
*.swp
*.nupkg
nuget/Seedworks.Persistence/lib/*.dll
nuget/Seedworks.Persistence/lib/*.pdb
nuget/Seedworks.Web.State/lib/*.dll
nuget/Seedworks.Web.State/lib/*.pdb